#header {
    width: 1233px;
    height: 100px;


    background: #828282;
}

#container {
    display: flex;
    flex-direction: row;
}

#navbar {
width: 2712px;
height: 72px;
display: flex;
border: none;

background-color:rgba(0, 0, 0, 0.7);
    
}

#search {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 20px;
    margin-left: 40px;
    float: right;

    
}

input[type=text] {
  width: 80px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

input[type=text]:focus {
  width: 10%;
}

.map-full {
    color: #ffffff;
    margin: 15px;
}


#top-nav-hero {
  background-image: url("https://drive.google.com/uc?export=view&id=12U6M1QmFHb45JUK2baahQclGwa7k_GMj");
  height: 300px;
width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-text {
    background-color: #ffffff;
    align-content: center;
    position: absolute;
    align-content: center;
    top: 200px;
    width: 70%;
    height: 200px;
    
}

#art-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#photo-container {
    align-content: flex-start;
}
#photo-container {
    position: absolute;
    width: 300px;
    height: 300px;

    background: #F9F9F9;
    margin: 10px;
}

#Artist-Title-h1 {

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 66px;
text-align: center;

color: #000000;
}

#Artist-Date-h1 {
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 50px;
text-align: center;

color: #000000;
}

.description-h2 {


    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 38px;


color: #000000;
}

.description-p {

font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 20px;


color: #000000;
}

#footer {

    width: 1233px;
    height: 50px;
    margin-top: 50px;


    background: #D6D5D5;
}

